html,body{margin:0;padding:0}

p{margin:0 10px 10px}

a{padding:5px; text-decoration:none; color:#000000;}

div#header{background-color:#F3F2ED;}

div#header h1{height:80px;line-height:80px;margin:0;padding-left:10px;}

div#container{text-align:left}

div#content p{line-height:1.4}

div#navigation{background:#F6F0E0;}

div#navigation ul{margin:10px 0; padding:0; list-style-type:none;}

div#navigation li{margin-bottom:20px;}

div#extra{background:#CCC8B3;}

div#footer{background:#BFBD93;}

div#footer p{margin:0;padding:5px 10px}

div#container{width:1880px;margin:0 auto}

div#wrapper{float:left;width:100%}

div#content{margin: 20px 300px}

div#navigation{float:left;width:150px;margin-left:-1880px}

div#extra{float:left;width:150px;margin-left:-150px}

div#footer{clear:left;width:100%}

.gallery-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-wrapper > .img {
    max-width: 50%;
    margin: 10px;
    position: relative;
    cursor: pointer;
}

.gallery-wrapper > .img > .img-info {
    position: absolute;
    top: 0;
    padding: 20px 40px;
    background: rgba(0,0,0,0.8);
    bottom: 0;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: .3s;
}

.gallery-wrapper > .img > .img-info:hover {
    opacity: 1;
    transition: .3s;
}

.contact, .about {
    height: calc(100vh - 125px);
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.about {
    display: flex;
}

.about-photo {
    min-width: 350px;
    max-width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    margin-top: 25px;
}

.about-photo > img {
    width: 100%;
}

.contact h2 { text-align: center; }

.form {
    max-width: 500px;
    margin: 0 auto;
    height: calc(100vh - 125px);
    padding: 100px 50px;
}

.form label {
    display: block;
    position: relative;
    margin-bottom: 20px;
}

.form label span {
    position: absolute;
    top: 12px;
    left: 15px;
    transition: .5s;
}

.form label input {
    border: none;
    width: 100%;
    border: 1px solid #3c2411;
    border-radius: 5px;
    padding: 17px 15px 8px;
}

.form label input:focus {
    outline: none;
    border-color: #BF8654;
}

.form label input:focus + span, .form label input:not(:placeholder-shown) + span {
    font-size: 10px;
    top: 3px;
}

.form label input:focus + span {
    color: #BF8654;
}

.form button {
    display: block;
    width: 100%;
    border: none;
    background: #BF8654;
    color: #FFF;
    line-height: 40px;
    border-radius: 5px;
}